<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="dataConnectionDb"
         connectionString="server=(localdb)\MSSQLLocalDB;database=DbTicaret;Trusted_Connection=True;ConnectRetryCount=0" 
         providerName="System.Data.SqlClient"/>    
  </connectionStrings>

</configuration>