@model IEnumerable<E_ticaret.DataAccess.Cart>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <i class="fa fa-cart-plus" aria-hidden="true"></i>
        (@Model.Count())
    </li>
</ul>