/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

code {
    font-size: 80%;
}


.jumbotron{
    background-image:url("../img/bg.jpg");
    background-size:cover;
    height:100%;
}

.write-review{
    margin-left:-50px;
}
#product-prices{
    font-size:26px;
    color:red;
}
.card-title{
    font-size:16px;
    font-weight:400;
    color:#484848;
    line-height:1.35em;
    height:34px;
}
.description {
    font-size: 12px;
    font-weight: 400;
    color: #484848;
    height: 40px;
}
.product-price{
    color:#414141;
    font-weight:700;
    font-size:17px;
}
.urun-image {
    height: 250px;
}
#product-price h1{
    font-size:20px;
    font-weight:700;
}